$celeste: #66bde6; 
$fondo: #e4f4fd; 
$fondo-oscuro: #2a8db4;
$mobile: 576px;
$lg: 992px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Padauk-Regular";
    src: url(../assets/font/Padauk-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Light";
    src: url(../assets/font/Montserrat-Light.ttf);
}

h1,h2,h3,h4,h5{
    font-family: Montserrat-Light;
    text-align: center;
    padding: 20px;
    color: black;
}

p,li,ul,a{
    font-family: Padauk-Regular;
    text-align: center;
    padding: 5px;
    color: black;
}

body{
    background-color: $fondo;
}

header{
    width: 100%;
    background-color: $celeste;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .logo{
        margin-top: 20px;

        & img{
            width: 80px;
            height: 80px;
        }
    }

    .titulo{
        font-size: 2rem;
    }

    .redes a img{
        width: 40px;
        height: 40px;
        padding: 10px;
        align-items: stretch;
    }

}

nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 70px;
    position: sticky;

    .hamburguesa{
        background-color: $celeste;
        .nav-item a{
            color: black;
            font-size: 1.4rem;
        }
    }
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $fondo-oscuro;
    height: 100%;
    .redes a img{
        width: 40px;
        height: 40px;
        padding: 10px;
        align-items: stretch;
    }
}

/* Vista Mobile del Header y Footer */

@media screen and (max-width: $mobile){
    header{
        flex-direction: column
    }
    footer{
        flex-direction: column
    }
}

/* index.html */

@import "index";

/* productos.html */

@import "productos";

/* sobre_nosotros.html */

@import "sobre_nosotros";

/* serivicio_al_cliente.html */

@import "servicio_al_cliente";